<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AD System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= assetUrl('main.css') %>">
    <link rel="stylesheet" href="<%= assetUrl(pageName + '.css') %>">
  </head>
  <body class="page-<%- pageName %>">
    <script src="<%= assetUrl('main.js') %>"></script>
    <script src="<%= assetUrl(pageName + '.js') %>"></script>
  </body>
</html>
